REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=
REACT_APP_FIREBASE_PROJECT_ID=
REACT_APP_FIREBASE_STORAGE_BUCKET=
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=
REACT_APP_FIREBASE_APP_ID=
REACT_APP_FIREBASE_MEASUREMENT_ID=
REACT_APP_API_BASE_URL=
REACT_APP_AGORA_APP_ID=
REACT_PUBLIC_AGORA_APP_ID=849a246fb2e44ea2baf50de757b0c054
AGORA_APP_CERTIFICATE=30d492c92e8443cc9cf78bd8972470f7
